/* styles.css */

body {
    background-image: url('../assets/images/main.JPG');
    background-size: cover;
    background-position: center;
    font-family: 'Poor Story', sans-serif;
    text-align: center;
    color: black;
}

.container,
h1,
.navbar,
.navbar a,
.options,
.options a,
#participantInput,
button,
table,
th,
td,
#welcome,
.success-box,
.failure-box,
.confirm-box {
    font-family: 'Poor Story', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.navbar {
    background-color: #f8f9fa; /* 배경색은 같게 */
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1px 2px;
    border-radius: 5px;
    background-color: #99ccff; /* 배경색은 같게 */
    transition: background-color 0.3s;
    margin: 2px 0; /* 각 링크 사이의 간격을 설정 */
    margin-right: 0;
}

.navbar a:hover {
    background-color: #007bff;
    color: white;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 버튼 간격 조절 */
}

.options a {
    background-color: #99ccff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
    font-family: 'Poor Story', sans-serif; /* 글꼴 추가 */
}

.options a:hover {
    background-color: #99ccff;
}

/* 미디어 쿼리 추가 */
@media screen and (max-width: 600px) {
    .navbar {
        padding: 5px; /* 작은 화면에서 네브바의 padding 조정 */
    }

    .navbar a {
        padding: 8px 12px; /* 작은 화면에서 링크의 padding 조정 */
        font-size: 14px; /* 작은 화면에서 링크의 글꼴 크기 조정 */
    }
}

#participantInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    font-family: 'Poor Story', sans-serif;
    font-size: 16px;
}

#participantInput::placeholder {
    color: #aaa;
}

button {
    padding: 10px 20px;
    background-color: #99ccff; /* 빨간색 계열 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* 추가 */
    display: inline-block; /* 추가 */
    margin-top: 10px;
    font-family: 'Poor Story', sans-serif; /* 버튼에 글꼴 추가 */
}

button:hover {
    background-color: #99ccff; /* 빨간색 계열 */
}

/* 스타일 추가 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#welcome {
    font-size: 18px;
    margin-top: 20px;
}

.success-box, .failure-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 40px;
    margin: 20px auto;
    max-width: 600px;
    display: none;
}

.confirm-box {
    display: none;
    padding: 20px;
}
